/*Some basic reset and global code*/

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'PT Sans';
  background: transparent;
}

body {
  color: #0B1942;
}

body a {
  color: #00B7D3;
}

/*Starting Generic Header and footer work*/
/*Always mobile first*/

header {
  display: flex;
  height: 21vh;
  width: 100vw;
  background: #7DDFE8;
}

footer {
  background: #7DDFE8;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header nav {
  width: 70vw;
}

footer nav {
  width: 100vw;
}

.logo {
  background: #F5005B;
  width: 30vw;
  height: 21vh;
  padding: 2vh 2vw;
}

.logo img {
  width: 26vw;
  height: 17vh;
}

.nav-row {
  display: flex;
  flex-direction: column;
}

.nav-row a {
  color: #FFF;
  text-decoration: none;
  font-size: 2.5vh;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  background: #00A5BF;
}

.calendar {
  background: #00B7D3;
}

.join {
  background: #00D5E7;
}

.copyright {
  color: #FFFFFF;
  font-size: 3vh;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Body Styling for Home, mobile focus*/

h1 {
  font-size: 5vh;
  font-weight: lighter;
}

h2 {
  background: #0B1942;
  color: #FFFFFF;
  font-size: 4vh;
  font-weight: lighter;
  margin: 2.5vh 0;
  padding: .5vh 4vw;
}

p {
  font-size: .83em;
  line-height: 2.25em;
}

.get-involved {
  padding: 3vh 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.up-next {
  background: #0B1942;
  padding: 2vh 2vw;
}

/*Rashomon Tile styling*/
.rashomon {
  background: #E2E2E2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2vh 4vw;
  grid-template-areas:
    "poster title"
    "poster rating"
    "poster hr"
    "poster discuss"
    "poster list";

    /*display: flex;
    justify-content: space-around;*/
}

.rash-poster {
  height: 40vh;
  grid-area: poster;
  width: 45vw;
  background: url("../images/rashomon-poster.jpg") center/cover no-repeat;
  /*background-size: auto;*/
  margin: 4vh 4vw;
}

.rash-content {
  /*justify-self: flex-start;*/
  margin: 4vh 0;
  line-height: 6rem;
}

.rashomon a {
  font-size: 3vh;
}
